@using Domain.Entities
@inject Application.Services.ShoeService shoeService
@inject Application.Services.TopService topService
@inject Application.Services.LiningService liningService
@inject Application.Services.SoleService soleService
@inject Application.Services.PurposeService purposeService
@inject Application.Services.ColorService colorService

<MudDialog>
    <DialogContent>
        <!-- Add your form controls for adding a new shoe here -->
        <MudTextField @bind-Value="newShoe.Code" Label="Code" />
        <MudTextField @bind-Value="newShoe.Name" Label="Name" />
        <MudTextField @bind-Value="newShoe.Description" Label="Description" />

        @* ********** TOPS ********** *@
        <div class="row">
            <div class="col-md-6">
                <MudSelect @bind-Value="newShoe.TopId" Label="Tops">
                    <MudSelectItem Value="0" Disabled="true">Select top</MudSelectItem>
                    @foreach (var item in tops)
                    {
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="col-md-6">
                <MudNumericField @bind-Value="newShoe.TopCoeficient" Format="N2" HideSpinButtons="true" Variant="MudBlazor.Variant.Text" Label="Top Coeficient" />
            </div>
        </div>

        @* ********** LININGS ********** *@
        <div class="row">
            <div class="col-md-6">
                <MudSelect @bind-Value="newShoe.LiningId" Label="Lining">
                    <MudSelectItem Value="0" Disabled="true">Select lining</MudSelectItem>
                    @foreach (var item in linings)
                    {
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="col-md-6">
                <MudNumericField @bind-Value="newShoe.LiningCoeficient" Format="N2" HideSpinButtons="true" Variant="MudBlazor.Variant.Text" Label="Lining Coeficient" />
            </div>
        </div>

        @* ********** SOLES ********** *@
        <div class="row">
            <div class="col-md-6">
                <MudSelect @bind-Value="newShoe.SoleId" Label="Sole">
                    <MudSelectItem Value="0" Disabled="true">Select sole</MudSelectItem>
                    @foreach (var item in soles)
                    {
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="col-md-6">
                <MudNumericField @bind-Value="newShoe.SoleCoeficient" Format="N2" HideSpinButtons="true" Variant="MudBlazor.Variant.Text" Label="Sole Coeficient" />
            </div>
        </div>
        
        @* ********** PURPOSES ********** *@
        <div class="row">
            <div class="col-md-6">
                <MudSelect @bind-Value="newShoe.PurposeId" Label="Purpose">
                    <MudSelectItem Value="0" Disabled="true">Select purpose</MudSelectItem>
                    @foreach (var item in purposes)
                    {
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="col-md-6">
                <MudNumericField @bind-Value="newShoe.PurposeCoeficient" Format="N2" HideSpinButtons="true" Variant="MudBlazor.Variant.Text" Label="Purpose Coeficient" />
            </div>
        </div>

        @* ********** COLORS ********** *@
        <MudSelect @bind-Value="newShoe.ColorTypeId" Label="Color Type">
            <MudSelectItem Value="0" Disabled="true">Select color</MudSelectItem>
            @foreach (var item in colorTypes)
            {
                <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
            }
        </MudSelect>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Add Shoe</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    public Shoe newShoe = new();
    private List<Domain.Entities.Top> tops = new();

    private List<Domain.Entities.Lining> linings = new();
    private List<Domain.Entities.Sole> soles = new();
    private List<Domain.Entities.Purpose> purposes = new();
    private List<Domain.Entities.ColorType> colorTypes = new();

    protected override async Task OnInitializedAsync()
    {
        tops = await topService.GetAllTops();
        linings = await liningService.GetAllLinings();
        soles = await soleService.GetAllSoles();
        purposes = await purposeService.GetAllApplications();
        colorTypes = await colorService.GetAllColors();
    }

    async void Submit()
    {

        bool success = await shoeService.AddShoe(newShoe);

        MudDialog.Close(DialogResult.Ok(success));
    }

    void Cancel() => MudDialog.Cancel();
}